.aside {
  background: $color-bg-aside;
  h2 {
    display: none;
  }

  .links {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;

    a {
      color: $color-text-weak;
      display: block;
      padding: 0.2rem 0.4rem;
      border-right: 1px solid $color-border;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .aside-ribbon {
    padding: 0.5rem;
  }

  .aside-ribbon-highlight {
    background: $color-bg-aside-highlight;
  }

  .aside-ribbon-image {
    background: $color-bg-aside-image;
  }

  .aside-ribbon-dark {
    background: $color-bg-aside-dark;
  }

  .aside-visual {
    padding: 0;
  }

  h3 {
    font-family: $font-decorative;
    font-size: $amatic-l;
    color: $color-text-green !important;
    text-align: center;
    margin-top: 1.5rem;
    border-bottom: 1px solid $color-text-green;
  }

  .aside-visual-image {
    width: 100%;
    display: block;
  }

  .aside-vita {
    padding: 1rem;
    p {
      background: #fff5;
      padding: 1.5rem;
      font-size: $size-s;
    }
  }

  .aside-social {
    ul {
      list-style: none;
      margin: 0;
    }
    li a,
    li > div {
      display: block;
      height: 32px;
      line-height: 32px;
      padding-left: 36px;
      background: transparent 0 50% no-repeat;
      background-size: 24px 24px;

      @include link($color-text-weak, $color-text-link-strong);

      &.instagram {
        background-image: url(../img/svg/instagram.svg);
      }
      &.pinterest {
        background-image: url(../img/svg/pinterest.svg);
      }
      &.flickr {
        background-image: url(../img/svg/flickr.svg);
      }
      &.lastfm {
        background-image: url(../img/svg/lastfm.svg);
      }
      &.tumblr {
        background-image: url(../img/svg/tumblr.svg);
      }
      &.google {
        background-image: url(../img/svg/google-plus.svg);
      }
      &.bloglovin {
        background-image: url(../img/svg/bloglovin.svg);
      }
    }

    .fb > div {
      background-image: url(../img/svg/facebook.svg);
    }

    .fb-preview {
      display: block;
    }

    .fb-like {
      display: none;
      line-height: 26px;
    }

    .fb.available {
      .fb-preview {
        display: none;
      }
      .fb-like {
        display: block;
        overflow: hidden;
      }
      iframe {
        margin: 0;
      }
    }
  }

  .aside-newsletter {
    background: #5c9b72;

    h3 {
      color: #fff !important;
      border-color: #fff;
    }
    #mc_embed_signup_scroll {
      display: flex;
      flex-flow: column;
      p {
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 0.9rem;
      }
      .button {
        background: #96c6a7;
        font-family: $font-decorative;
        font-size: $amatic-l;
        color: #fff;
        width: 100%;
      }
    }
  }

  .aside-cite {
    padding: 1rem;
    blockquote {
      border: 0;
      font-size: $size-m;
      color: $color-text-inverted;
      padding: 0;

      cite {
        margin-top: 0.8rem;
        color: $color-text-inverted-weak;
        display: block;
        font-style: normal;
        font-size: $size-s;
        text-align: right;
      }
    }
  }

  .aside-widgets {
    p {
      font-size: $size-s;
    }
    input {
      border-radius: 2px;
      border: 1px solid $color-border;

      &[type='text'],
      &[type='email'] {
        width: 80% !important;
        margin: 0 5px;
        padding: 5px;
        color: $color-text;
        font-weight: $weightNormal;

        &:focus {
          outline: 0;
          border-color: $color-green;
        }
      }

      &[type='submit'] {
        border: 1px solid $color-border;
        background: #fff;
        overflow: hidden;
        padding: 0 1rem;
        font-family: $font-decorative;
        font-size: $amatic-l;
        &:hover {
          background-color: $color-green;
          color: $color-text-inverted-strong;
          border-radius: 2px;
        }
      }
    }
  }
}

// .sidebars {
//   & > ul {
//     height: 60px;
//     text-align: center;
//     margin: 0;
//     padding: 0;
//     background: transparent;

//     li {
//       cursor: pointer;
//       display: inline-block;
//       vertical-align: top;
//       width: 80px;
//       height: 34px;
//       padding: 5px;
//       line-height: 17px;
//       margin: 0 10px;
//       background: rgba($color-secondary, 0.6);
//       color: $color-text-bright !important;
//       font-size: $size-s;
//       @include l;
//       text-align: center;
//       overflow: hidden;

//       &:hover {
//         background: rgba($color-secondary, 0.75);
//       }

//       &.active {
//         padding-bottom: 25px;
//         background: $color-primary-m;
//         color: #fff;
//       }

//       &.search-icon {
//         background-image: url(../img/search-icon.png);
//         background-position: 50% 50%;
//         background-repeat: no-repeat;
//         width: 44px;
//         text-indent: -9999px;
//         overflow: hidden;
//       }
//     }

//     @media (max-width: $break-s) {
//       width: 100%;
//       li {
//         width: 70px;
//         padding: 4px;
//         margin: 0 2px;
//         font-size: 0.9em;
//       }
//     }
//   }
// }

// .sidebar {
//   display: flex;
//   flex-wrap: wrap;

//   &.initial-hide {
//     display: none;
//   }

//   h3 {
//     font-size: $size-xl;
//     @include l;
//     margin: 0;
//     color: $color-text-bright;
//     padding: 2rem 0 0 1rem;
//     width: 100%;
//     flex: 1 1 auto;
//   }
//   h4 {
//     @include l;
//     color: rgba(255, 255, 255, 0.5);
//     margin: 2rem 0 0.5rem 0;
//     font-size: $size-l;

//     a {
//       color: rgba(255, 255, 255, 0.5);
//       &:hover {
//         color: #fff;
//       }
//     }
//   }
//   h5 {
//     @include l;
//     color: rgba(255, 255, 255, 0.5);
//     margin: 1em 0 0.2em 0;
//   }
//   & > section {
//     width: 25%;
//     flex: 1 1 auto;

//     &.filler {
//       width: 0 !important;
//     }
//     @media (max-width: $break-l - 1) {
//       width: 50%;
//     }
//     @media (max-width: $break-s - 1) {
//       width: 100%;
//     }

//     & > * {
//       padding: 0 1rem;
//     }

//     ul {
//       list-style: none;
//       margin: 0;
//       ul {
//         padding-left: 1rem;

//         li {
//           font-size: 75%;
//           line-height: 1.25;
//           display: inline-block;
//           opacity: 0.8;
//           margin: 0 10px 0 0;
//         }
//       }
//     }

//     li {
//       color: rgba(255, 255, 255, 0.65);

//       a {
//         @include link($color-text-bright, rgba($color-text-bright, 0.65));
//       }
//     }

//     p {
//       font-size: 1rem;
//       color: $color-text-bright !important;
//       input {
//         color: $color-text !important;
//       }
//     }

//     input[type=text] {
//       box-sizing: border-box;
//       font-size: 1.2rem;
//       background: rgba($color-text-bright, 0.65);
//       border: 1px solid $color-text-bright;
//       padding: 4px !important;
//       border-radius: 5px;
//       color: $color-text;
//       width: 80% !important;
//     }

//     input[type=submit] {
//       box-sizing: border-box;
//       padding: 7px;
//       border-radius: 5px;
//       background: $color-secondary;
//       border: 0;
//       margin-right: 0;
//       width: 80% !important;
//     }
//   }
// }

// .search-sidebar {
//   display: block;
// }

// .nav-sidebar > section:last-of-type {
//   li {
//     font-size: 75%;
//     line-height: 1.25;
//     display: inline-block;
//     opacity: 0.8;
//     margin: 0 10px 0 0;
//   }
// }

// .search-sidebar {
//   form {
//     padding: 30px 10px;
//     div {
//       text-align: center;
//     }

//     label {
//       color: $color-text-bright;
//       @include l;
//       display: inline-block;
//       @media (max-width: $break-s) {
//         display: none;
//       }
//     }

//     input {
//       display: inline-block;
//       &[type=text] {
//         width: 60%;
//         max-width: 500px;
//         background: rgba($color-text-bright, .5);
//         border: 1px solid $color-text-bright;
//         margin: 0 5px;
//         padding: 5px;
//         color: $color-text;
//         font-weight: $weightNormal;
//       }
//       &[type=submit] {
//         width: 34px;
//         height: 34px;
//         border: 0;
//         background: transparent url(../img/search-icon.png) 50% 50% no-repeat;
//         text-indent: -9999px;
//         overflow: hidden;
//         &:hover {
//           background-color: $color-secondary;
//           border-radius: 2px;
//         }
//       }
//     }
//   }
// }
