.header-wrapper {
  background: #fff;
}
.header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);

  & > a {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    img {
      flex: 0 0 auto;
      margin-left: 2rem;
      @media (max-width: $break-xl) {
        margin-left: 0.5rem;
      }
    }
    hgroup {
      flex: 0 0 auto;
      background: transparent url(../img/schriftzug.svg) no-repeat;
      background-size: cover;
      width: 230px;
      height: 60px;
      margin-left: 8px;

      @media (max-width: $break-xl) {
        display: none;
      }

      .home & {
        display: none;
      }

      h1,
      h2,
      h3 {
        display: none;
      }
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lighten($color-bg-content-list, 5%);
  height: 72px;

  &.hide {
    display: none;
    height: 0;
  }

  form {
    & > div {
      display: flex;
    }
    label {
      display: none;
    }

    input {
      display: inline-block;
      border-radius: 2px;
      border: 1px solid $color-border;

      &[type='text'] {
        width: 250px;
        margin: 0 5px;
        padding: 5px;
        color: $color-text;
        font-weight: $weightNormal;

        &:focus {
          outline: 0;
          border-color: $color-green;
        }
      }

      &[type='submit'] {
        border: 1px solid $color-border;
        background: #fff;
        overflow: hidden;
        padding: 0 1rem;
        font-family: $font-decorative;
        font-size: $amatic-l;
        &:hover {
          background-color: $color-green;
          color: $color-text-inverted-strong;
          border-radius: 2px;
        }
      }
    }
  }
}

.header-menu {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  @media (max-width: $break-xl) {
    margin-right: 0.5rem;
  }
  h4 {
    display: none;
  }
  & > section {
    flex: 1 1 auto;

    @media (max-width: $break-m) {
      display: none;
    }

    & > div > ul {
      margin: 0;
      padding: 0;
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;

      & > li {
        flex: 0 0 auto;
        position: relative;

        a {
          line-height: 70px;
          padding: 0 12px;
          @include link($color-text-weak, $color-text);
          font-family: $font-decorative;
          font-size: $amatic-l;
          font-weight: 300;
          display: block;
        }

        .sub-menu {
          display: none;
          position: absolute;
          top: 70px;
          right: 0;
          border-top: 0;
          background: #fff;
          padding: 10px;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

          li {
            white-space: nowrap;
            display: block;
            text-align: left;
          }

          a {
            line-height: 36px;
            padding: 0 4px;
            font-size: $amatic-m;
            text-transform: none;
            text-align: right;
          }
        }

        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
    }
  }
  .search-icon,
  .burger-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;

    span {
      display: none;
    }
    @include link($color-text-weak, $color-text);
  }

  .search-icon {
    margin-left: 3rem;
    @media (max-width: $break-xl) {
      margin-left: 1rem;
    }
  }

  .burger-icon {
    display: none;
    @media (max-width: $break-m) {
      display: block;
    }
  }
}

.menu-bar {
  display: none;
  background: lighten($color-bg-content-list, 5%);

  h4 {
    display: none;
  }

  .menu-main-container > ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      flex: 1 1 auto;
      width: 50%;
      padding: 0.5rem;
      box-sizing: border-box;
      ul {
        list-style: none;
        padding-left: 0.8rem;

        li {
          font-size: $size-s;
        }
      }
    }
  }

  @media (max-width: $break-m) {
    &.show {
      display: block;
    }
  }
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}

body > main {
  background: $color-bg-content-text;
  position: relative;
  z-index: 2;
}

.cookie {
  display: none;
  background: #96c6a7;

  text-align: center;
  padding: 0.2rem;

  p {
    font-size: 0.8rem;
    margin: 0.25rem auto;
    color: #fff !important;
    a {
      color: #fff !important;
      text-decoration: underline;
    }
  }

  button {
    box-sizing: border-box;
    margin: 0 auto;
    background: #cddfd4;
    border: 0;
    font-size: 1.25rem;
    font-family: $font-decorative;
    color: #96c6a7;
  }
}
