.ribbon {
  position: relative;
  z-index: 5;
  padding: 2em 0;

  .row {
    margin: 0 auto;
    max-width: $width;
  }
}

.initial-hide {
  display: none;
  height: 0;
}

.content-container {
  display: flex;
  align-items: stretch;

  @media (max-width: $break-l) {
    flex-flow: column;
  }

  & > .content {
    flex: 1 1 auto;
    background: $color-bg-content-list;
  }

  & > aside {
    flex: 0 0 auto;
    background: $color-bg-aside;
    width: 20%;
    max-width: 320px;

    @media (max-width: $break-l) {
      max-width: none;
      width: auto;
      .aside {
        display: flex;
        flex-wrap: wrap;

        .aside-ribbon {
          flex: 1 1 auto;
          margin: 0.5rem;
          border: 1px solid $color-green;
          padding: 0.3rem;
          width: 30%;
        }
      }
    }
    @media (max-width: $break-m) {
      .aside {
        .aside-ribbon {
          width: 40%;
        }
      }
    }
    @media (max-width: $break-s) {
      .aside {
        flex-flow: column nowrap;
        .aside-ribbon {
          width: auto;
        }
      }
    }
  }
}
