.article-list {
  article {
    width: 100%;
    @media (min-width: $break-s) {
      width: 33.333333%;
    }
    @media (min-width: $break-l) {
      width: 25%;
    }
    @media (min-width: $break-xl) {
      width: 20%;
    }

    a {
      display: block;
      border: 1px solid $color-border;
      border-top: 5px;
      border-radius: 3px;
      margin: 10px;
      color: $color-text;
      background: #fff;
      @include shadow($depth: 3px, $strength: 0.5);

      &:hover {
        color: $color-primary;
        @include shadow;
      }

      .image {
        width: 100%;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }

      .text {
        margin: 0.5em;

        .super {
          text-align: center;
          font-size: 0.8em;
          margin-top: 0.5em;
        }

        h1 {
          font-size: $size-l;
          text-align: center;
        }

        h2 {
          @include hdsmall;
          font-size: $size-m;
          text-align: center;
        }

        .excerpt {
          div {
            color: $color-text !important;
            font-size: $size-s;
          }
        }
        .more {
          text-align: right;
          font-size: 0.8em;
          margin: 0;
        }
      }
    }
  }
}