%article {
  a {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    background: $color-bg-content-text;
    color: $color-text;
    box-shadow: 0 5px 25px -3px rgba(0, 0, 0, 0.1);
    border-radius: 12px 0 0 0;

    &:hover {
      background: $color-bg-content-listitem;
      box-shadow: 0 5px 25px -3px rgba(0, 0, 0, 0.2);
      color: $color-text-link;
      text-decoration: none;

      .more {
        color: $color-text-link-strong;
      }
    }
  }

  .meta {
    height: 36px;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    .publishing-date {
      border: 1px solid $color-border;
      border-radius: 8px;
      margin: 6px 0 0 6px;
      background: #fff;
      height: 38px;
      width: 28px;
      position: relative;

      span {
        line-height: 12px;
        font-size: 13px;
        display: block;
        text-align: center;

        &:nth-child(2) {
          font-weight: bold;
        }
      }
    }
    .type {
      line-height: 36px;
      font-family: $font-decorative;
      font-size: 24px;
      margin-right: 6px;
    }
  }

  .image {
    width: 100% !important;
    background: transparent 50% 50% no-repeat;
    background-size: cover;
    overflow: hidden;

    img {
      display: none;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 75%;
    }
  }

  .text {
    margin: 1rem 0.5rem 2.5rem 0.5rem;
    text-align: left;

    h1 {
      margin: 24px 16px 0 16px;
      font-size: $amatic-xl;
      line-height: 1;
      text-transform: uppercase;
      @include b;
    }

    h2 {
      margin: 4px 16px 0 16px;
      @include l;
      font-size: $amatic-l;
      color: $color-text-weak !important;
    }

    .excerpt {
      div,
      div p {
        color: $color-text !important;
        font-size: $size-s;
      }

      div {
        margin: 24px 16px 0 16px;
      }
    }
    .more {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-family: $font-decorative;
      color: $color-text;
      font-size: 18px;
      margin: 1em 0 0 0;
    }
  }
}

.article-list {
  margin: 0 3% 8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;

  article {
    @extend %article;

    flex: 1 1 auto;
    height: auto;
    margin: 0.5rem;
    width: calc(100% - 3rem);
    background: #fff;

    &:nth-of-type(1) {
      @media (min-width: $break-m) {
        width: calc(50% - 3rem);
      }
      @media (min-width: $break-xl) {
        width: calc(33.3% - 3rem);
      }
    }
    &:nth-of-type(2) {
      @media (min-width: $break-s) {
        width: calc(50% - 3rem);
      }
      @media (min-width: $break-xl) {
        width: calc(33.3% - 3rem);
      }
    }
    &:nth-of-type(3) {
      @media (min-width: $break-s) {
        width: calc(50% - 3rem);
      }
      @media (min-width: $break-m) {
        width: calc(33.3% - 3rem);
      }
    }
    &:nth-of-type(n + 4) {
      .image {
        width: 100%;
      }

      @media (min-width: $break-s) {
        width: calc(50% - 3rem);
      }
      @media (min-width: $break-m) {
        width: calc(33.3% - 3rem);
      }
      @media (min-width: $break-xl) {
        width: calc(25% - 3rem);
      }
    }
  }
}

.article-list .type-remote .article-item .image {
  background-size: contain;
}

#infscr-loading {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.placeholder {
  visibility: hidden;
}
