.article-list {
  article {
    width: 100%;
    @media (min-width: $break-s) {
      width: 50%;
    }
    @media (min-width: $break-m) {
      width: 25%;
    }
    @media (min-width: $break-l) {
      width: 20%;
    }

    a {
      display: block;
      border: 1px solid $color-border;
      margin: 15px;

      img {
        width: 100% !important;
        height: auto !important;
      }

      .text {
        margin: 10px;

        & > h2 {
          border-bottom: 1px dotted $color-text;
          text-align: center;
          font-size: 0.8em;

          em {
            display: inline-block;
            padding: 0 12px;
            color: $color-text;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 0.2em;
          }
        }
      }
    }
  }
}