.container {
  position: relative;
  z-index: 1;
}
.footer-wrapper {
  position: relative;
  z-index: 2;
}
.container > header{
  position: relative;
  z-index: 2;

  hgroup {
    width: 600px;
    height: 100px;
    margin: 0 auto;
    background: transparent url(../img/masthead-l.png) 0 0 no-repeat;


    @media #{$small-only} {
      width: 300px;
      height: 70px;
      background: transparent url(../img/masthead-s.png) 0 0 no-repeat;
    }

    & > * {
      display: none;
    }
  }
}

.container > main {
  position: relative;
  z-index: 2;
}

.container > .bg {
  position: relative;
  z-index: 1;
}


