$c-font-base: Roboto, Arial, Helvetica, sans-serif;
$c-font-headline: "Roboto Condensed", Arial, Helvetica, sans-serif;
$c-font-nav: "Fredericka the Great", Georgia, serif;

$c-font-size: 16px;
$c-font-weight: 300;
$c-font-weight-bold: 700;
$c-font-weight-headline: 700;

$c-color-background: #e2b49d;
$c-color-text: #444;
$c-color-lines: desaturate(darken($c-color-background, 30%), 40%);
$c-color-background-aside-small: rgba(0,0,0,0.7);
$c-color-background-footer: rgba(0,0,0,0.5);
$c-color-splitter: $c-color-lines;
$c-color-alt: #577;

$c-borderradius: 4px;


$font-family-base: $c-font-base;
$font-size-base: $c-font-size;
$line-height-base: 1.4;

$body-bg: $c-color-background;

$header-font-family: $c-font-headline;
$headings-line-height: 1.2;

$screen-lg: 1400px;
$container-large-desktop: 1370px;
