$c-font-base: Roboto, Arial, Helvetica, sans-serif;
$c-font-headline: "Roboto Condensed", Arial, Helvetica, sans-serif;
$c-font-nav: "Fredericka the Great", Georgia, serif;

$c-font-size: 16px;
$c-font-weight: 300;
$c-font-weight-bold: 700;
$c-font-weight-headline: 700;

$c-color-background: #e2b49d;



$font-family-base: $c-font-base;
$font-size-base: $c-font-size;
$line-height-base: 1.4;

$body-bg: $c-color-background;

$header-font-family: $c-font-headline;
$headings-line-height: 1.2;

$screen-lg: 1400px;
$container-large-desktop: 1370px;
