.sidebars {
  padding-top: 0;
  background: transparent !important;
  position: relative;
  z-index: 3;
  margin-top: -64px;

  .ribbon {
    padding: 0;
  }

  & > ul {
    height: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: transparent;

    li {
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      width: 80px;
      height: 34px;
      padding: 5px;
      line-height: 17px;
      margin: 0 10px;
      background: rgba($color-secondary, 0.6);
      color: $color-text-bright !important;
      font-size: $size-s;
      @include l;
      text-align: center;
      overflow: hidden;

      &:hover {
        background: rgba($color-secondary, 0.75);
      }

      &.active {
        padding-bottom: 25px;
        background: $color-primary-m;
        color: #fff;
      }

      &.search-icon {
        background-image: url(../img/search-icon.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 44px;
        text-indent: -9999px;
        overflow: hidden;
      }
    }

    @media (max-width: $break-s) {
      width: 100%;
      li {
        width: 70px;
        padding: 4px;
        margin: 0 2px;
        font-size: 0.9em;
      }
    }

  }
}


.sidebar {
  h3 {
    font-size: $size-xl;
    @include l;
    margin: 0;
    color: $color-text-bright;
    padding: 2rem 0 0 1rem;
  }
  h4 {
    @include l;
    color: rgba(255, 255, 255, 0.5);
    margin: 2rem 0 0,5rem 0;
    font-size: $size-l;

    a {
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        color: #fff;
      }
    }
  }
  h5 {
    @include l;
    color: rgba(255, 255, 255, 0.5);
    margin: 1em 0 0.2em 0;
  }
  & > section {
    width: 25%;
    float: left;
    @media (max-width: $break-l - 1) {
      width: 50%;
      &:nth-of-type(2n + 1){
        clear: both;
      }
    }

    & > * {
      padding: 0 1rem;
    }

    ul {
      list-style:none;
      margin: 0;
      ul {
        padding-left: 1rem;

        li {
          font-size: 75%;
          line-height: 1.25;
          display: inline-block;
          opacity: 0.8;
          margin: 0 10px 0 0;
        }
      }
    }

    li {
      color: rgba(255, 255, 255, 0.65);

      a {
        @include link($color-text-bright, rgba($color-text-bright, 0.65));
      }
    }

    p {
      font-size: 1rem;
      color: $color-text-bright !important;
      input {
        color: $color-text !important;
      }
    }

    input[type=text] {
      box-sizing: border-box;
      font-size: 1.2rem;
      background: rgba($color-text-bright, 0.65);
      border: 1px solid $color-text-bright;
      padding: 4px !important;
      border-radius: 5px;
      color: $color-text;
      width: 80% !important;
    }

    input[type=submit] {
      box-sizing: border-box;
      padding: 7px;
      border-radius: 5px;
      background: $color-secondary;
      border: 0;
      margin-right: 0;
      width: 80% !important;
    }
  }
}

.nav-sidebar > section:last-of-type {
  li {
    font-size: 75%;
    line-height: 1.25;
    display: inline-block;
    opacity: 0.8;
    margin: 0 10px 0 0;
  }
}

//TWITTER
.fetched_tweets {
  .tweets_avatar {
    width: 80%;
    background: rgba($color-text-bright, 0.65) !important;
    .tweet_data {
      font-family: $font;
      @include n;
      color: $color-text;
      font-size: 1rem;
    }
    .times, .tweets-intent-data {
      font-family: $font;
      @include l;
      color: $color-text-light;
      font-size: 0.8rem;
      text-align: right;
      em {
        font-style: normal;
      }
    }
  }
}

//FACEBOOK
.social-sidebar iframe {
  background: rgba($color-text-bright, 0.65) !important;
  width: 80% !important;
  border-radius: 5px;
  margin: 0 !important
}

//INSTAGRAM
.easy-instagram-container {
  .easy-instagram-thumbnail-wrapper {
    text-align: left;
    color: $color-text-bright;
  }
}

.cite {
  .row {
    max-width: 50em;
    margin: 2em auto;
    padding: 0 1em;

    & > * {
      padding: 0;
    }
  }

  section {
    width: auto;
    float: none;
  }

  blockquote {
    border: 0;
    font-size: $size-l;
    font-style: italic;
    color: $color-text-bright;
    padding-bottom: 2rem;
    margin-bottom: 0;

    cite {
      display: block;
      font-size: $size-m;
      text-align: right;
    }
  }
}

.search-sidebar {
  form{
    padding: 30px 10px;
    div {
      text-align: center;
    }

    label {
      color: $color-text-bright;
      @include l;
      display: inline-block;
      @media (max-width: $break-s) {
        display: none;
      }
    }

    input {
      display: inline-block;
      &[type=text] {
        width: 60%;
        max-width: 500px;
        background: rgba($color-text-bright, .5);
        border: 1px solid $color-text-bright;
        margin: 0 5px;
        padding: 5px;
      }
      &[type=submit] {
        width: 34px;
        height: 34px;
        border: 0;
        background: transparent url(../img/search-icon.png) 50% 50% no-repeat;
        text-indent: -9999px;
        overflow: hidden;
        &:hover {
          background-color: $color-secondary;
          border-radius: 2px;
        }
      }
    }
  }
}

.more-social {
  li a{
    display: block;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    padding-left: 45px;
    @include l;
    background: transparent url(../img/social.png) 0 0 no-repeat;
    &:hover {background-color: rgba($color-primary-h, 0.5);}
    &.pinterest {background-position: 0 -40px;}
    &.flattr {background-position: 0 -120px;}
    &.flickr {background-position: 0 0-160px}
    &.lastfm {background-position: 0 -200px;}
    &.tumblr {background-position: 0 0;}
    &.google {background-position: 0 -240px;}
    &.bloglovin {background-position: 0 -80px;}
    &.visits {background-position: 0 -280px;}
  }

}
