@import "compass/utilities/general/clearfix";


.article-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
  @media (max-width: $break-l) {
    display: block;
  }

  .article-text {
    flex: 3 2 0;

    @media (max-width: $break-l) {
      width: 100%;
      flex: 1 1 0;
    }
  }
  .article-comment {
    flex: 2 1 0;
    color: $color-text-bright;

    .message {
      font-size: $size-l;
      @include b;
      color: rgba($color-text-bright, 0.5) !important;
    }

    @media (max-width: $break-l) {
      width: 100%;
    }

    h2 {
      @include hd;
      margin-bottom: 0.5em;
      color: $color-text-bright;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        .comment-body {
          margin-bottom: 0.35em;
          background: rgba(#fff, 0.4);
          overflow: hidden;
          @include l;
        }
      }
      ul {
        margin-left: 1.2em;
      }
    }

    .comment-author {
      background: $color-secondary-l;
      & > * {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
        color: $color-text-bright;
      }

      cite a {
        @include link($color-text-bright, $color-secondary);
        font-style: normal;
        @include b;
      }
    }

    .comment-meta {
      padding: 0.5em;
      font-size: 0.8em;
      text-align: right;

      a {
        @include link($color-text, $color-secondary);
      }
    }

    p {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    .reply {
      padding: 0.5em;
      text-align: right;
      @include b;
      text-transform: uppercase;
    }

  }

  .row {
    max-width: 50em;
    margin: 0 auto;
    padding: 2em;
  }
}

.gallery-content {
  display: block;

  .ribbon p {
    color: $color-text-bright !important;
  }

  .comments p {
    color: $color-text !important;
  }
}
