@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Oswald:700);


$color-text: #555;
$color-border: lighten(#555, 50%);
$color-primary: #57c59a;
$color-primary-d: darken($color-primary, 20%);

$color-background: lighten($color-primary, 35%);
$color-bg-head: rgba(0, 0, 0, 0.4);
$color-text-head: #fff;
$color-bg-foot: darken($color-primary, 25%);
$color-text-foot: #fff;

$break-s: 800px;
$break-m: 1024px;
$break-l: 1280px;
$width: 1400px;

$font: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$fontHeadline: 'Oswald', 'Georgia', serif;

@mixin link($c: $color-primary, $ch: $color-primary-d) {
  color: $c;
  text-decoration: none;

  &:hover {
    color: $ch;
  }
}

@mixin b {
  font-weight: 600;
}
@mixin n {
  font-weight: 300;
}

@mixin shadow ($depth: 4px, $strength: 1) {
  box-shadow: 0 ($depth * 0.5) ($depth * 2) rgba(0,0,0,(0.3 * $strength));
}

a {
  @include link;
}

body {
  font-family: $font;
  @include n;
}

h1 {
  font-family: $fontHeadline;
}