a {
  @include link;
}

body {
  font-family: $font;
  font-size: 16px;
  @include n;
  line-height: 1.45;
}

h1 {
  @include hd;
  font-size: $size-xxl;
}

h2 {
  @include hd;
  font-size: $size-xl;
}

h3 {
  @include hdsmall;
  font-size: $size-l;
  &:before {
    border: 0 !important;
  }
}

h4 {
  @include hdsmall;
  font-size: $size-m;
}

h5 {
  @include hdsmall;
  font-size: $size-m;
}

h6 {
  @include hdsmall;
  font-size: $size-m;
}

p {
  font-size: $size-m;
  margin: ($size-m) 0;
  color: $color-text !important;
}

li {
  color: $color-text !important;
  font-size: $size-m;
  margin: ($size-m / 2) 0;
  p {
    margin: 0;
  }
}

b,
strong {
  @include b;
}

sup {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: $color-primary-l;
  color: $color-primary;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;

  &:hover {
    background: $color-primary;
    color: #fff;
  }
}

.ribbon {
  background: $color-bg;

  &.ribbon-dark {
    background: $color-primary;
  }
  &.ribbon-secondary {
    background: $color-secondary;
  }
  &.ribbon-main {
    background: $color-primary;
  }
  &.ribbon-medium {
    background: $color-primary-m;
  }
  &.ribbon-light {
    background: $color-primary-l;
  }
  &.ribbon-bright {
    background: $color-primary-ll;
  }
  &.ribbon-grey {
    background: $color-grey;
  }
}

.gallery-content .ribbon {
  color: $color-text-bright;
  background: $color-grey;
}

.gallery-content .ribbon-light {
  background: $color-primary-ll;
}

.headline {
  padding: 4rem 8rem;
  text-align: center;

  @media (max-width: $break-s) {
    padding: 3rem 0;
  }
  .super {
    font-size: $size-m;
    color: rgba($color-text-bright, 0.5) !important;
    @include b;
    text-transform: uppercase;
    margin: 0 0 1em 0;
  }

  h1 {
    margin: 0;
    @include hd($c: $color-text, $ch: $color-text);

    display: flex;
    align-items: center;
    text-align: center;
    &:before,
    &:after {
      content: ' ';
      flex: 1 1 auto;
      height: 1px;
      background: $color-text-light;
    }
    &:before {
      margin: 0 4px 0 0;
    }
    &:after {
      margin: 0 0 0 4px;
    }

    strong {
      @include b;
    }
  }

  h3 {
    @include hdsmall($c: $color-text-light, $ch: $color-text-light);
    margin: 0.3em 0 0 0;
  }

  .inner-headline {
    padding-top: 2em;
    padding-bottom: 2em;

    hgroup {
      padding: 0 2em;
    }

    @media (max-width: $break-s) {
      hgroup {
        text-align: center;
      }
    }
  }
}

.headline.with-thumbnail {
  text-align: left;
  .inner-headline {
    hgroup {
      margin-left: 30%;
    }

    img {
      width: 30%;
      height: auto;
      float: left;
      margin-top: -2em;
      margin-bottom: -2em;
    }

    @media (max-width: $break-l) {
      hgroup {
        margin-left: 40%;
      }

      img {
        width: 40%;
      }
    }

    @media (max-width: $break-s) {
      padding-top: 0;

      hgroup {
        margin-left: 0;
      }

      img {
        width: 100%;
        float: none;
        margin-bottom: 2em;
      }
    }
  }
}

.wp-caption {
  clear: both;
  max-width: 80%;
  padding: 0;

  &.alignnone {
    float: none;
    margin: 1em 0;
  }

  a {
    display: block;

    img {
      display: block;
      margin: 0;
    }
  }

  p {
    font-size: $size-s;
    font-style: italic;
  }
}

.alignright {
  float: right;
  margin: 1em 0 1em 1em;
}

.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
}

.aligncenter {
  float: none;
  margin: 1em auto;
}

@media (max-width: $break-m) {
  .alignright {
    float: none;
    margin: 1em auto;
  }

  .alignleft {
    float: none;
    margin: 1em auto;
  }

  .wp-caption {
    max-width: 90%;
    height: auto !important;
  }

  main img {
    width: 100% !important;
    height: auto !important;
  }
  main .outer-image {
    float: none !important;
  }
}
@media (max-width: $break-s) {
  .wp-caption {
    max-width: 100%;
  }
}

blockquote {
  border-left: 8px solid $color-border;
  padding: 0 0 0 10px;
  margin-left: 0;
}

iframe {
  margin: 1em auto;
  max-width: 100% !important;
}

.hyphenate {
  text-overflow: ellipsis;
  -ms-word-break: break-all;
  word-break: break-all;
  // word-break: break-word;
  word-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
