.aside-twitter-feed {
  font-size: $size-s;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    list-style: none;
  }

  li {
    flex: 1 1 auto;
  }

  .user {
    font-family: $font-headline;
    font-size: $size-s;
    display: flex;

    & > a {
      flex: 0 0 auto;
      display: block;
      color: $color-text-link;
      height: 42px;
      padding: 4px 0 4px 56px;
      margin-bottom: 4px;
      position: relative;

      &:hover {
        color: $color-text-link-strong;
        text-decoration: none;
      }
    }
    & > div {
      flex: 1 1 auto;
    }
    img {
      width: 48px !important;
      height: 48px !important;
      border-radius: 5px;
      position: absolute;
      border: 1px solid $color-border;
      top: 0;
      left: 0;
    }
    span {
      display: block;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    [data-scribe='element:verified_badge'] {
      display: none !important;
    }
    [data-scribe='element:screen_name'] {
      color: $color-text;
    }
    a:hover [data-scribe='element:screen_name'] {
      color: $color-text-link;
      font-size: 0.8rem;
    }
  }

  .tweet {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $size-s;

    a {
      color: $color-text;
    }
    .tco-hidden {
      display: none;
    }
  }

  .timePosted {
    text-align: right;
    margin: 0.1rem 0 1.25rem;
    font-size: $size-s;

    a {
      color: $color-text-link;
    }
  }

  .interact {
    display: none;
  }
}
