.aside-twitter-feed {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    list-style: none;
  }

  li {
    flex: 1 1 auto;
  }

  .user {
    font-family: $fontHeadline;
    a {
      display: block;
      color: $color-text-link;
      height: 42px;
      position: relative;
      padding: 4px 0 4px 56px;
      margin-bottom: 4px;
      font-size: 1rem;

      &:hover {
        color: $color-text-link-dark;
        text-decoration: none;
      }
    }
    img {
      width: 48px;
      height: 48px;
      border-radius: 5px;
      position: absolute;
      border: 1px solid $color-border;
      top: 0;
      left: 0;
    }
    span {
      display: block;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    [data-scribe="element:screen_name"] {
      color: $color-primary-l;
    }
    a:hover [data-scribe="element:screen_name"] {
      color: $color-primary-ll;
    }
  }

  .tweet {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;

    .tco-hidden {
      display: none;
    }
  }

  .timePosted {
    margin-bottom: 4px;

    a {
      color: $color-primary-l;
    }
  }

  .interact a {
    display: inline-block;
    background: $color-primary-l;
    color: $color-primary-m;
    padding: 2px 4px;
    margin-right: 2px;
    border-radius: 3px;

    &:hover {
      background: $color-primary;
      color: $color-primary-l;
    }
  }
}
