@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600|Kaushan+Script);


$color-text: #555;
$color-text-bright: #fff;
$color-text-light: lighten($color-text, 25%);
$color-border: lighten($color-text, 50%);

$color-bg: hsl(165, 5, 90);
$color-primary: hsl(165, 4, 40);
$color-primary-m: hsl(165, 5, 55);
$color-primary-l: hsl(165, 7, 70);
$color-primary-ll: hsl(165, 9, 85);
$color-primary-h: hsl(165, 40, 80);

$color-secondary: #a94f5c;
$color-secondary-l: #d08b95;

$color-grey: #777;

$break-s: 640px;
$break-m: 800px;
$break-l: 1024px;
$break-xl: 1280px;
$width: 1400px;

$font: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$fontHeadline: 'Kaushan Script', 'Georgia', serif;

$weightLight: 200;
$weightNormal: 400;
$weightBold: 600;

$size-s: 1rem;
$size-m: 1.25rem;
$size-l: 1.75rem;
$size-xl: 2.5rem;
$size-xxl: 4rem;

@mixin link($c: $color-secondary, $ch: $color-primary) {
  color: $c;
  text-decoration: none;

  &:hover {
    color: $ch;
  }
}

@mixin b {
  font-weight: $weightBold;
}

@mixin n {
  font-weight: $weightNormal;
}

@mixin l {
  font-weight: $weightLight;
}

@mixin shadow($depth: 5px, $strength: 1) {
  box-shadow: 0 ($depth * 0.5) ($depth * 2) rgba(0, 0, 0, (0.4 * $strength));
}


@mixin hd($c: $color-text, $ch: $color-secondary) {
  font-family: $font;
  @include l;
  color: $c !important;
  line-height: 1.0;

  a, span {
    color: $c !important;

    &:hover {
      color: $ch !important;
    }
  }
}


@mixin hdsmall($c: $color-text, $ch: $color-secondary) {
  font-family: $font;
  @include b;
  line-height: 1.2;
  color: $c !important;
  a, span {
    color: $c !important;

    &:hover {
      color: $ch !important;
    }
  }
}
