@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600|Kaushan+Script);


$color-text: #555;
$color-text-bright: #fff;
$color-text-light: lighten($color-text, 25%);
$color-border: lighten($color-text, 50%);

$color-bg: #f4ead5;
$color-primary: #e94e77;
$color-primary-d: darken($color-primary, 25%);
$color-primary-l: #d68189;
$color-primary-ll: #c6a49a;

$color-secondary-l: #c6e5d9;
$color-secondary: darken($color-secondary-l, 15%);
$color-secondary-d: darken($color-secondary-l, 30%);

$color-grey: #666;

$break-s: 640px;
$break-m: 800px;
$break-l: 1024px;
$break-xl: 1280px;
$width: 1400px;

$font: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$fontHeadline: 'Kaushan Script', 'Georgia', serif;

$weightLight: 200;
$weightNormal: 400;
$weightBold: 600;

$size-s: 1rem;
$size-m: 1.25rem;
$size-l: 1.75rem;
$size-xl: 3rem;
$size-xxl: 4rem;

@mixin link($c: $color-primary, $ch: $color-primary-d) {
  color: $c;
  text-decoration: none;

  &:hover {
    color: $ch;
  }
}

@mixin b {
  font-weight: $weightBold;
}

@mixin n {
  font-weight: $weightNormal;
}

@mixin l {
  font-weight: $weightLight;
}

@mixin shadow($depth: 5px, $strength: 1) {
  box-shadow: 0 ($depth * 0.5) ($depth * 2) rgba(0, 0, 0, (0.4 * $strength));
}


@mixin hd($c: $color-text, $ch: $color-primary-d) {
  font-family: $font;
  @include l;
  color: $c;
  line-height: 1.0;
  a {
    color: $c;

    &:hover {
      color: $ch;
    }
  }
}


@mixin hdsmall($c: $color-text, $ch: $color-primary-d) {
  font-family: $font;
  @include b;
  line-height: 1.2;
  color: $c;
  a {
    color: $c;

    &:hover {
      color: $ch;
    }
  }
}
