body > .footer-wrapper {
  background: $c-color-background-footer;
  border-top: 4px solid $c-color-splitter;
  position: relative;
  color: #888;

  h2 {
    font-family: $c-font-nav;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  section {
    ul {
      margin:0;
      padding:0;
    }
    li {
      list-style: none;
      float: left;
      margin: 2px 0;
      padding: 1px 6px;
      border-right: 1px dotted #fff;

      &:last-child {
        border-right: 0;
      }
    }
  }

  a {
    color: #ccc;
  }

  table {
    width: 100%;

    td, th {
      margin: 2px;
      border: 1px solid #777;
      text-align: center;
      a{
        display: block;
        background: $c-color-background;
        color: $c-color-text;
      }
    }
  }
}